@theme-color: #00d1b2;

* {
  font-family: 'Oswald', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.nav {
  border-bottom: solid 1px @theme-color;
}

.logo-side-icon {
  padding-left: 5px;
}

.bold {
  font-weight: bold
}

.center {
  text-align: center
}

.vertical-middle {
  padding-top: 7px
}

.big-text {
  font-size: 2rem;

}
.time-unit {
  font-size: 0.9rem;
  padding-left: 36px;
}

.icon-margin {
  margin-right: 5px;
}

.menu-text {
  font-size: 0.9rem;
}

.new-chat {
  font-family: 'Oswald', sans-serif;
}

.sha {
  font-size: 0.7rem;
}

.message-body {
  li {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.8rem;
  }
}

// userList
.section.userList {
  background-color: transparent;
  position: fixed;
  top: 60px;
  padding: 0.5rem 1.5rem;
  opacity: 1;
  .user-tag {
    margin-right: 4px;
    font-family: Verdana, Arial, sans-serif;
    font-size: .7rem;
  }
}

// message-list
.section.message-list {
  padding-bottom: 70px
}

// inputBox
.section.inputBox {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

// balloon
.message-list {
  @balloon-background-color: #ddd;

  .round() {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
  }

  .talktext() {
    padding: 0.4em;
    text-align: left;
    line-height: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-size: 0.9rem;
    word-wrap: break-word;
  }

  .balloon-base() {
    margin: 10px;
    display: inline-block;
    position: relative;
    max-width: 350px;
    min-width: 150px;
    height: auto;
    background-color: @balloon-background-color;
  }


  .tri-right() {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    bottom: auto;
    border: 10px solid;
  }

  .column {
    .message-parent {
      width: 100%;
      .my-message {
        .balloon-base;
        .round;
        text-align: right;
        .talk-bubble.tri-right.right-in:after{
          .tri-right;
          left: auto;
          right: -15px;
          border-color: @balloon-background-color transparent transparent @balloon-background-color;
        }
        .talktext {
          .talktext;
        }
      }

      .not-my-message {
        .balloon-base;
        .round;
        .talk-bubble.tri-right.left-in:after{
          .tri-right;
          left: -15px;
          right: auto;
          border-color: @balloon-background-color @balloon-background-color transparent transparent;
        }
        .talktext {
          .talktext;
        }
      }
    }
    .message-parent.my-message {
      text-align: right;
    }
  }
}
