doctype html
include _script
script(type="text/javascript").
    var sock = new SockJS('http://172.27.68.53:9999/echo');

    function initSock() {

        sock.onopen = function() {
            console.log('open');
            sendMsg(window.nickname + ' is joined', 'JOIN');
        };

        sock.onmessage = function(e) {
            var data = JSON.parse(e.data);

            if(data.type == '') {
                window.sessionId = data.id;
                console.log('your session id is ' + data.id);
                return;
            }

            var myMessage = false;
            if(data.id == window.sessionId) {
                myMessage = true;
            }

            console.log('message', e.data);
            var chatBoard = $('#chatBoard');
            var messageBox = myMessage ?
                $('div.hidden > .my-message').clone():
                $('div.hidden > .your-message').clone();

            $('p', messageBox).text(data.message);
            $('.name', messageBox).text(data.nickname);
            chatBoard.append(messageBox).append('<br/>');
        };

        sock.onclose = close;

    }

    function close() {
        sock.close();
        $.post('/close/' + window.chatId, {chatId: window.chatId, sessionId: window.sessionId});
    }


    function sendMsg(message, type) {
        if(type == 'JOIN') {
            var data = {chatId: window.chatId, type: type, message: message, nickname: window.nickname}
            sock.send(JSON.stringify(data));
        } else if(type == 'warn') {
            var chatBoard = $('#chatBoard');
            var message = $('<div class="msg warn">').text(msg);
            chatBoard.append(message);
        } else if(type == 'noti') {
        }
    }

    $(function() {
        window.nickname = prompt('nick name?');
        window.chatId = $('#chatId').val();

        $('input[name=msgInput]').keypress(function (event) {
            if(event.which == 13) {
                var message = $('input[name=msgInput]').val();
                var messageBody = { type: 'SEND', message: message, nickname: window.nickname, chatId: window.chatId};

                sock.send(JSON.stringify(messageBody));
                $('input[name=msgInput]').val('');
            }
        });


        $('input[name=exit]').click(function (event) {
            sock.close();
        });

        function timer() {
            var closeAt = moment($('#closeAt').val());
            var now = moment();
            if(now > closeAt) {
                clearInterval(interval);
                sendMsg('char room was closed', 'warn');
                $('input[name=msgInput]').remove();
            }

            $('#remainTime').text('close after ' + moment.utc(closeAt - now).format('HH:mm:ss'));
        }

        var interval = setInterval(timer, 1000);


        initSock();
    });


div Nick name is #{loginId}
div chat id is #{chatId}
input#chatId(type='hidden', value='#{chatId}')
    
div
    input#closeAt(type='hidden', value='#{closeAt}')
    div#remainTime


div#chatBoard

input(type='text', name='msgInput')

div.hidden
    div.message-container.my-message
        div.name
        div.talk-bubble.tri-right.right-in
            div.talktext
                p
    div.message-container.your-message
        div.talk-bubble.tri-right.left-in
        div.name
            div.talktext
                p
