extends layout
block content
  script(src="/javascripts/chat-core.js").
  script.
    C.init('#{chatId}', '#{timeout}');



  section.section.userList
    .container
      .columns
        .column.userList

  section.section
    .container
      .columns.is-gapless.is-mobile.message-list
        .column

  section.section.inputBox
    .container.inputBox
      .columns.is-vcentered.is-mobile
        .column
          .field.has-addons
            p.control.is-expanded
              input.input(type='text', name='inp-text')
            p.control
              a.button.is-primary(name='btn-send') Send
  


