extends layout
block content
  script(src="/javascripts/chat-core.js").
  script.
    C.init('#{chatId}', '#{timeout}');


  section.section.userList
    .container
      .columns
        .column.userList

  section.section
    .container
      .columns.is-gapless.is-mobile
        .column
          article.message.is-primary.message-usage
            .message-body
              .bold Hi. 
                span.nickname-in-message
              .content This chat room expires in 
                span.timeout-in-message
              .field.has-addons
                p.control
                  input.input.is-small(type='text', id='inp-clipboard', name='inp-clipboard')
                p.control
                  a.button.is-small.btn-copy(name='btn-copy', data-clipboard-target='#inp-clipboard') Copy
              p Invite your friends using the URL above.
              br
              p We do not store any messages you sent and received.
              p Enjoy it :)

      .columns.is-gapless.is-mobile.message-list
        .column
        

  section.section.inputBox
    .container.inputBox
      .columns.is-vcentered.is-mobile
        .column
          .field.has-addons
            p.control.is-expanded
              input.input(type='text', name='inp-text')
            p.control
              a.button.is-primary(name='btn-send') Send
  

  .modal.nickname-modal
    .modal-background
    .modal-content
      .box
        h1.subtitle Enter your nickname. 
        .field.has-addons
          p.control.is-expanded
            input.input.inp-nickname
          p.control
            a.button.is-primary(name='btn-nickname') Start
        .content.is-small.is-comment If you do not enter a name, a random name will be used.

        
    button.modal-close
