extends layout
block content
  script(src="/javascripts/chat-core.js").
  script.
    C.init('#{chatId}', '#{timeout}');



  section.section.userList
    .container
      .columns
        .column.userList

  section.section.messageList
    .container
      .columns.is-gapless.is-mobile.balloon
        .column
          .message-container.my-message
            .name
            .talk-bubble.tri-right.right-in.round
              .talktext
                p 네, 특정업체를 고발을 했으면 다른 업체까지 다 문제가 있다는 식으로 방송을 내는 건 조금 문제가 있다고 봐요. 조금 더 신중하게 알아보고 다른 업체들도 여기하고 똑같은가를 확인하고 이런 게 좀 필요하지 않을까. 그냥 이번 문제도 대왕 카스테라가 문제라 하니까 진짜로 아무 상관이 없는 업체들도 똑같이 그냥 피해를 보게 된 거에요.
          .message-container.not-my-message
            .name
            .talk-bubble.tri-right.left-in.round
              .talktext
                p hello world

  section.section.inputBox
    .container.inputBox
      .columns.is-vcentered.is-mobile
        .column
          .field.has-addons
            p.control.is-expanded
              input.input(type='text', name='inp-text')
            p.control
              a.button.is-primary(name='btn-send') Send
  


