extends layout
block content
  section.hero.is-primary
    .hero-body
      .container
        h1.title Create chat room
        h2.subtitle and share with friends!

  section.section
    .container
      .columns
        .column
          .columns.is-multiline.is-mobile
            .column
            .column.is-three-quarters SET YOUR NAME
              .field
                p.control
                  input.input.is-primary(type="text", value="")
            .column

      .columns
        .column
          form(id='target', action='/create', method='post')
            .field
              .columns.is-multiline.is-mobile
                .column
                .column.is-three-quarters.big-text EXPIRES IN
                  progress.progress.is-small(value="15", max="100") 15%
                .column
              .columns.is-multiline.is-mobile
                .column
                .column
                  .select
                    select(name="timeHours")
                      option 0
                      option 1
                      option 2
                      option 3
                  .bold.time-unit Hours
                .column
                  .select
                    select(name="timeMinutes")
                      option 0
                      option 1
                      option 3
                      option("selected") 5
                      option 10
                      option 20
                      option 30
                      option 40
                      option 50
                  .bold.time-unit Minutes
                .column
                  .select
                    select(name="timeSeconds")
                      option 10
                      option 20
                      option("selected") 30
                      option 40
                      option 50
                  .bold.time-unit Seconds
                .column
              .column.center
                button.button.is-primary.new-chat New Chat


  section.section
    .container
      article.message
        .message-body
          ul
            li All chat rooms have time limits.
            li Each time you refresh or open a chat link, a new session is created. 
            li We do not store any messages you read and write.

  footer.footer
    .container
      .content.has-text-centered
        p
          a(href="mailto:ickhyun82@gmail.com", target="_blank")
            i.fa.fa-paper-plane-o.icon-text(aria-hidden="true")
          div.sha
            | 0f259ee1f7268636adf4fb7ce1b12f2e7229c968

