nav.nav.has-shadow
  .container
    nav.nav-left
      .nav-item 
        a(href="/") VANILLA 
        i.logo-side-icon.fa.fa-meh-o(aria-hidden="true")
    nav.nav-center
      .nav-item
        .timeout-banner
        
    span.nav-toggle#nav-toggle
      span
      span
      span
    nav.nav-right.nav-menu
      .nav-item.is-tab
        span.icon.menu-icon
        span.icon-text#nav-about About

