nav.nav
  nav.nav-left
    .nav-item 
      a(href="/") VANILLA 
      i.logo-side-icon.fa.fa-meh-o(aria-hidden="true")
  nav.nav-center
    .nav-item
  span.nav-toggle#nav-toggle
    span
    span
    span
  nav.nav-right.nav-menu
    .nav-item
      span.icon.menu-icon
        i.fa.fa-user-circle(aria-hidden="true")
      span.icon-text.nav-nickname 

